
@import "reset";

@font-face {
  font-family: 'MyFont';
  src: url("../fonts/radar.TTF");
  font-weight: 600;
  font-style: normal;
}



.hello,#root {
  color: blue;
  font-family: MyFont;
  font-size: 30px;

  display: flex;
}


#root{
  border:1px solid red;
}